*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Conseguimos que las cajas no se desborden*/
}
body{
    background: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#page-initial-div{
    padding: 7vw 0 7vw 0;
    text-align: center;
    background-size: cover;
}
h1, h2,#page-initial-div p,#page-initial-div a{
    text-transform: uppercase;
}
h1, h2,#page-initial-div a{
    font-family: 'Orbitron', sans-serif;
    color: white;
}
#page-initial-div p, #metodos p{
    color: rgba(240, 240, 240, 0.933);
    font-family: 'Rajdhani', sans-serif;
}
h1{
    font-size: 4vw;
}
#page-initial-div p{
    color: rgb(231, 231, 231);
    margin: 2vw 25vw 4vw 25vw;
    font-size: 1.5vw;
}
#page-initial-div a {
    margin: 2vw 0;
    font-size: 1.5vw;
    font-weight: 600;
    text-decoration: none;
    padding: 1vw 2vw;
    background-color: transparent;
    border: 4px solid white;
}
#page-initial-div a:hover{
    background-color: white;
    border-color: rgb(129 115 223);
    color: black;
}


#contacto{
    margin: 10vw;
    display: flex;
}

#metodos{
    width: 33.33%;
}
h2{
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2vw;
}
#metodos p{
    color: rgba(240, 240, 240, 0.933);
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
#metodos a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
#formulario{
    width: 66.66%;
    text-align: -webkit-center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(85 85 85);
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #ddd;
    margin-bottom: 2vw;
    padding: 1vw;
    font-size: 1.2vw;
    border-radius: 3px;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
}

.contact-form textarea {
    height: 10vw;
    resize: none;
}

.contact-form button {
    padding: 1.2vw;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(240, 240, 240, 0.933);
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.contact-form button:hover {
    background-color: black;
    color: white;
}

#redes-sociales {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: .8vw;
    row-gap: 1.8rem;
}
#redes-sociales img{
    width: 3vw;
    margin-right: 1vw;
    object-fit: contain;
}
.invertido{
    filter: invert(1);
}

iframe{
    width: 85vw;
    margin: 5vw;

}

@media all and (max-width:1050px){
    #page-initial-div {
        padding: 9vw 0;
    }
    h1 {
        font-size: 4.5vw;
    }
    #page-initial-div p {
        margin: 3vw 25vw 5vw 25vw;
        font-size: 2vw;
    }
    #page-initial-div a {
        font-size: 2vw;
        padding: 1vw 3vw;
    }
    h2{
        font-size: 4vw;
    }
    #metodos p {
        font-size: 1.8vw;
        margin-bottom: 1.8vw;
    }
    #redes-sociales {
        column-gap: .2vw;
    }
    #redes-sociales img {
        width: 4vw;
    }
    .contact-form input, .contact-form textarea {
        font-size: 1.8vw;
    }
    .contact-form button {
        font-size: 1.8vw;
    }
}
@media all and (max-width:750px){
    #page-initial-div {
        padding: 12vw 0;
    }
    h1 {
        font-size: 6vw;
    }
    #page-initial-div p {
        margin: 4vw 10vw 6vw 10vw;
        font-size: 2.5vw;
    }
    #page-initial-div a {
        font-size: 3vw;
        padding: 1.5vw 3vw;
    }
    #contacto{
        flex-direction: column;
        margin: 10vw 10vw 5vw;
    }
    #metodos,#formulario{
        width: 100%;
    }
    #metodos{
        margin-bottom: 6vw;
    }
    h2{
        font-size: 5vw;
    }
    #metodos p {
        font-size: 2.5vw;
        margin-bottom: 1.8vw;
    }
    #redes-sociales {
        column-gap: 3.2vw;
    }
    #redes-sociales img {
        width: 6vw;
    }
    .contact-form {
        width: 100%;
        padding: 4vw;
        border-radius: 10px;
    }
    .contact-form input, .contact-form textarea {
        font-size: 2.5vw;
        margin-bottom: 3vw;
        padding: 2vw;
    }
    .contact-form button {
        font-size: 3.5vw;
        padding: 2.5vw;
    }
}
@media all and (max-width:550px){
    #page-initial-div {
        padding: 14vw 0;
    }
    h1 {
        font-size: 7vw;
    }
    #page-initial-div p {
        margin: 5vw 10vw 7vw 10vw;
        font-size: 3vw;
    }
    #page-initial-div a {
        font-size: 4vw;
        padding: 2vw 3vw;
    }
    
    h2{
        font-size: 6vw;
    }
    #metodos p {
        font-size: 3.5vw;
    }
    #redes-sociales img {
        width: 8vw;
    }
    .contact-form {
        padding: 6vw;
    }
    .contact-form input, .contact-form textarea {
        font-size: 3.5vw;
        margin-bottom: 5vw;
        padding: 3vw;
    }
    .contact-form button {
        font-size: 4.5vw;
        padding: 3.5vw;
    }
}