*{
    box-sizing: border-box; /*Conseguimos que las cajas no se desborden*/
}
body{
    background: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

#page-initial-div{
    height: 86vh;
    text-align: center;
    background-size: cover;
    align-content: center;
}
h1, h2,#page-initial-div p,#page-initial-div a{
    text-transform: uppercase;
}
h1, h2,#page-initial-div a{
    font-family: 'Orbitron', sans-serif;
    color: white;
}
#page-initial-div p, #metodos p{
    color: rgba(240, 240, 240, 0.933);
    font-family: 'Rajdhani', sans-serif;
}
h1{
    font-size: 4rem;
    margin: 0;
}
#page-initial-div p{
    color: rgb(129 115 223);
    margin: 2vh 20vw 4vh 20vw;
    font-size: 1.5rem;
}
#page-initial-div a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1vh 2vw;
    background-color: transparent;
    border: 4px solid white;
}
#page-initial-div a:hover{
    background-color: white;
    border-color: rgb(129 115 223);
    color: black;
}


#contacto{
    margin: 20vh 10vw;
    display: flex;
    gap: 5%;
}

#metodos{
    flex: 3;
}
h2{
    color: rgb(129 115 223);
    font-size: 1.5rem;
    font-weight: bold;
}
#metodos p{
    color: rgba(240, 240, 240, 0.933);
    font-size: 1.5rem;
}
#metodos a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
#formulario{
    flex: 6;
    text-align: -webkit-center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(85 85 85);
    padding: 3vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #ddd;
    margin-bottom: 2vh;
    padding: 2vh;
    font-size: 1.2rem;
    border-radius: 3px;
    font-family: 'Rajdhani', sans-serif;
}

.contact-form textarea {
    height: 10vw;
    resize: none;
}

.contact-form button {
    font-size: 1.2rem;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(240, 240, 240, 0.933);
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2vh;
}

.contact-form button:hover {
    background-color: black;
    color: white;
}

#redes-sociales {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.8vw;
    row-gap: 1.8rem;
}
#redes-sociales img{
    width: 5vh;
    object-fit: contain;
}
.invertido{
    filter: invert(1);
}

iframe{
    width: 85vw;
    margin: 5vw;

}

@media all and (max-width:1050px){
    h1 {
        font-size: 3rem;
    }
    #page-initial-div p {
        font-size: 1.2rem;
    }
    #page-initial-div a {
        font-size: 1.2rem;
    }
    #metodos p {
        font-size: 1rem;
    }
    .contact-form input, .contact-form textarea {
        font-size: 1rem;
    }
    .contact-form button {
        font-size: 1rem;
    }
}
@media all and (max-width:750px){
    #page-initial-div {
        height: 60vh;
    }
    h1 {
        font-size: 2.5rem;
    }
    #page-initial-div p {
        margin: 2vh 10vw 4vh 10vw;
        font-size: 1rem;
    }
    #page-initial-div a {
        border: 2px solid white;
    }
    #contacto{
        flex-direction: column;
        gap: 5vh;
    }
    #metodos,#formulario{
        width: 100%;
    }
    #redes-sociales {
        column-gap: 3.2vh;
    }
    #redes-sociales img {
        width: 6vh;
    }
    .contact-form {
        border-radius: 10px;
    }
    .contact-form input, .contact-form textarea {
        font-size: 1.2rem;
        margin-bottom: 3vh;
        padding: 2vh;
    }
    .contact-form button {
        font-size: 1.2rem;
    }
}
@media all and (max-width:550px){
    h1 {
        font-size: 2rem;
    }
    #page-initial-div p {
        font-size: 0.8rem;
    }
    #page-initial-div a {
        font-size: 0.9rem;
    }
    #redes-sociales img {
        width: 4vh;
    }
    .contact-form input, .contact-form textarea {
        padding: 1vh;
    }
    .contact-form button {
        font-size: 1rem;
    }
}