footer{
    margin: 10vh 10vw 0 10vw;
}

#contenedor-footer{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

footer nav{
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
footer .contenido{
    width: 33.33%;
    background: transparent;
    justify-items: center;
}
.redes-sociales-footer{
    display: flex;
    flex-direction: column;
}

#copyright{
    margin: 2vw 0 0 0;
    text-align: center;
}

#copyright p{
    font-size: 1rem;
    font-family: 'Rajdhani', sans-serif;
    color: rgba(240, 240, 240, 0.933);
}

h4{
    color: rgb(129 115 223);
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

footer a,.contenido p{
    font-size: 1.2rem;
    font-family: 'Rajdhani', sans-serif;
    color: rgba(240, 240, 240, 0.933);
    text-decoration: none;
    margin: 2vh 0;
}
a:hover{
    color: rgb(129 115 223);
}

@media all and (max-width:1050px){
    #contenedor-footer {
        text-align: center;
        margin-bottom: 5vh;
    }
    footer nav{
        width: 50%;
    }
    footer .contenido{
        width: 50%;
        background: transparent;
    }
    footer .contacto {
        margin-top: 2vh;
    }
}