/* Header */
header{
    background-color: rgb(54 47 101 / 73%);
    border-bottom: 6px solid #bfbfbf9a;
}
header .title {
    font-size: 3vw;
    font-family: monospace;
    color: rgb(235, 235, 235);
    align-self: center;
    padding: 2% 4%;
    cursor: pointer;
}
nav{
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 0 10%;
}
nav a{
    padding: 2.65vw 4vw;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: monospace;
    color: rgb(235, 235, 235);
    align-self: center;
}
nav a:hover{
    background-color: rgb(178 169 239 / 33%);
    box-shadow: 0px 6px 0px rgba(92, 84, 144, 0.621);
}