*{
    box-sizing: border-box; /*Conseguimos que las cajas no se desborden*/
}
body{
    background: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
#page-initial-div{
    height: 86vh;
    align-content: center;
    text-align: center;
    background-size: cover;
}
h1, h2,#proyectos-div h3,#proyectos-div p,#habilidades h4{
    text-transform: uppercase;
}
h1, h2,#proyectos-div h3,#habilidades h4{
    font-family: 'Orbitron', sans-serif;
    color: white;
}
#page-initial-div p, #proyectos-div p, .text-habi{
    font-family: 'Rajdhani', sans-serif;
    color: rgba(240, 240, 240, 0.933);
}
h1{
    font-size: 5rem;
    margin-bottom: 2vh;
}
#page-initial-div p{
    font-size: 1.5rem;
    color: rgb(129 115 223);
}
#proyectos{
    margin: 20vh 10vw;
    text-align: -webkit-center;
}
h2 {
    color: rgb(129 115 223);
    font-size: 3rem;
    border-bottom: 4px solid rgb(129 115 223);
    width: fit-content;
}
#proyectos-div{
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    column-gap: .8vw;
    row-gap: 1.8rem;
}

#proyectos-div img{
    max-width: 100%;
}

.contenido{
    background-color: rgb(35,35,35);
    padding: 1vw 0;
}
#proyectos-div h3{
    margin: 1vw 0;
    font-size: 2rem;
    color: rgba(240, 240, 240, 0.933);
}
#proyectos-div p{
    font-size: 1.5rem;
    color: rgba(240, 240, 240, 0.933);
    padding: 0 2vw;
}
.proyecto .contenido {
    transition: transform 0.3s ease;
}

.proyecto:hover .contenido {
    transform: translateY(-7vw);
    color: white;
}

#habilidades{
    margin: 20vh 10vw;
}
#habilidades h4{
    color: rgb(129 115 223);
    font-size: 3rem;
}

#habilidades .text-habi{
    color: rgba(240, 240, 240, 0.933);
    font-size: 1.5rem;
    line-height: calc(1.5vw + 1vw);
}
.lenguajes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*column-gap: 7vw;*/
    row-gap: 1.8rem;
    justify-items: center;
    align-items: center;
}
.lenguajes img {
    width: 14vh;
    object-fit: contain;
}
#contactame{
    text-align: -webkit-center;
    margin: 20vh 10vw;
    text-align: center;
}
#contactame h6{
    font-size: 1.5rem;
    color: rgba(240, 240, 240, 0.933);
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    margin-bottom: 3vh;
}
#contactame a{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
    padding: 1vh 2vw;
    text-decoration: none;
    border: 4px solid white;
    font-weight: bolder;
}
#contactame a:hover{
    background-color: white;
    border-color: rgb(129 115 223);
    color: black;
}
#datos {
    display: flex;
    margin: 20vh 0;
    justify-content: space-evenly;
    gap: 5vh;
    align-items: center;
}

.grupo-loca{
    flex: 1;
}
.grupo-loca img{
    max-width: 10vh;
}

.grupo-loca p{
    font-size: 1.5rem;
    color: rgba(240, 240, 240, 0.933);
    font-family: 'Rajdhani', sans-serif;
    margin-top: 0.5vw;
    text-transform: uppercase;
}

@media all and (max-width:1050px){
    #page-initial-div {
        height: 60vh;
    }
    h1 {
        font-size: 4rem;
    }
    #page-initial-div p {
        font-size: 1.2rem;
        padding: 0 15vw;
    }
    h2 {
        font-size: 2.5rem;
    }
    #proyectos-div h3 {
        font-size: 1.5rem;
    }
    #proyectos-div p {
        font-size: 1rem;
    }
    #habilidades h4 {
        font-size: 2rem;
    }
    #habilidades .text-habi {
        font-size: 1.2rem;
    }
    .lenguajes img {
        width: 10vh;
    }
    #contactame a {
        font-size: 1.5rem;
    }
    #contactame h6, .grupo-loca p {
        font-size: 1.2rem;
    }
}
@media all and (max-width:750px){
    h1 {
        font-size: 3.5rem;
    }
    #proyectos-div {
        grid-template-columns: 1fr;
    }
    #proyectos-div p {
        font-size: 1.2rem;
    }
    #habilidades .text-habi {
        font-size: 1rem;
        line-height: calc(1rem + 40%);
    }
    #contactame h6 {
        font-size: 1rem;
    }
    #contactame a {
        font-size: 1.5rem;
        border: 2px solid white;
    }
    .grupo-loca p {
        font-size: 1.2rem;
    }
    #datos{
        flex-direction: column;
        gap: 10vh;
    }
}
@media all and (max-width:550px){
    h1 {
        font-size: 2.5rem;
    }
    #page-initial-div p {
        font-size: 1rem;
    }
    h2 {
        font-size: 2rem;
    }
    #proyectos-div h3 {
        font-size: 1.3rem;
    }
    #proyectos-div p{
        font-size: 1rem;
    }
    #habilidades h4 {
        font-size: 1.7rem;
    }
    .lenguajes {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .lenguajes img {
        width: 8vh;
    }
    #contactame a {
        font-size: 1rem;
    }
    .grupo-loca p {
        font-size: 1rem;
    }
}