*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Conseguimos que las cajas no se desborden*/
}

body{
    background: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#page-initial-div{
    padding: 10vw 0;
    text-align: center;
}
h1, h2,#page-initial-div p, h3, #curriculum h5, #curriculum a{
    text-transform: uppercase;
}

h1, h2, h3, h4, #curriculum h5, #curriculum a{
    font-family: 'Orbitron', sans-serif;
    color: white;
}
p{
    color: rgba(240, 240, 240, 0.933);
    font-family: 'Rajdhani', sans-serif;
}

h2{
    font-size: 2.5vw;
    font-weight: 400;
    color: rgb(129 115 223);
}
h1{
    font-size: 7vw;
}
#page-initial-div p{
    font-size: 2vw;
    margin-top: 10vw;
    color: rgb(129 115 223);
}

#subtitle{
    padding: 2.5vw;
    background-color: rgb(129 115 223);
    text-align: center;
}

#subtitle h3{
    font-size: 2vw;
    font-weight: 400;
}
#historia{
    margin: 10vw;
    display: flex;
    align-items: center;
}
#historia h4{
    color: rgb(129 115 223);
    font-size: 5vw;
    margin-bottom: 2vw;
}
#historia p{
    color: rgba(240, 240, 240, 0.933);
    font-size: 1.5vw;
    margin-bottom: 2vw;
}
.carousel-container {
    position: relative;
    width: 50vw;
    height: 25vw;
    overflow: hidden;
    margin-right: 5vw;
    margin-top: 8vw;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide img {
    width: 100%;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
#historia-p {
    width: 50vw;
}
#curriculum{
    display: flex;
    padding: 3vw 10vw;
    align-items: center;
    justify-content: end;
}
#curriculum img {
    width: 4vw;
    height: fit-content;
    filter: invert(1);
}

#curriculum h5 {
    color: white;
    font-size: 2vw;
    margin-left: 3vw;
    font-weight: 400;
}
#curriculum a {
    color: rgba(240, 240, 240, 0.933);
    text-decoration: none;
    font-size: 1.75vw;
    margin-left: 10vw;
    font-weight: 400;
    padding: 1vw 2vw;
    border: 4px solid rgba(240, 240, 240, 0.933);
}
#curriculum a:hover{
    background-color: white;
    color: black;
    border-color: rgb(129 115 223);
}



@media all and (max-width:1000px){
    h2{
        font-size: 3.5vw;
    }
    h1 {
        font-size: 9vw;
    }
    #page-initial-div p {
        font-size: 3vw;
    }
    #subtitle {
        padding: 3vw;
    }
    #subtitle h3 {
        font-size: 2.5vw;
    }
    #historia{
        flex-direction: column;
    }
    #historia img {
        width: 100%;
        margin: 0;
        height: fit-content;
    }
    #historia h4 {
        margin: 4vw 0 2vw 0;
    }
    #historia p {
        font-size: 2vw;
        margin-bottom: 3vw;
    }
    #curriculum {
        flex-direction: column;
    }
    #curriculum h5 {
        margin: 2vw 0;
        width: 38vw;
        text-align: center;
    }
    #curriculum a {
        margin-left: 0;
        width: 38vw;
        text-align: center;
    }

}

@media all and (max-width:750px){
    #page-initial-div {
        padding: 12vw 0;
    }
    h2{
        font-size: 4vw;
    }
    h1 {
        font-size: 10vw;
    }
    #page-initial-div p {
        font-size: 3.5vw;
    }
    #historia h4 {
        font-size: 7vw;
    }
    #historia p {
        font-size: 2.5vw;
    }
    #curriculum img {
        width: 7vw;
        height: fit-content;
    }
    #curriculum h5 {
        margin: 2vw 0;
        text-align: center;
        width: 38vw;
        font-size: 4vw;
    }
    #curriculum a {
        margin-left: 0;
        width: 25vw;
        text-align: center;
        font-size: 3vw;
    }
    #curriculum {
        padding: 5vw 10vw;
    }
}
@media all and (max-width:550px){
    #page-initial-div {
        padding: 14vw 0;
    }
    h2{
        font-size: 5vw;
    }
    h1 {
        font-size: 11vw;
    }
    #page-initial-div p {
        font-size: 4vw;
    }
    #subtitle h3 {
        font-size: 3vw;
    }
    #historia h4 {
        font-size: 10vw;
        margin: 8vw 0 4vw 0;
    }
    #historia p {
        font-size: 3.5vw;
        margin-bottom: 4vw;
    }
    #curriculum img {
        width: 10vw;
    }
    #curriculum h5 {
        font-size: 5vw;
        margin: 7vw 0;
    }
    #curriculum a {
        width: 38vw;
        font-size: 4vw;
    }
    #curriculum {
        padding: 5vw 10vw;
    }
}