*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Conseguimos que las cajas no se desborden*/
}

#page-initial{
    background: url(../images/programacion.png);
    background-position: right;
}
#title{
    align-content: center;
    height: 85vh;
    text-align: -webkit-center;
}
h1{
    font-family: monospace;
    font-size: 4vw;
    font-weight: bolder;
    color: white;
    width: fit-content;
    padding: 4vw;
    background-color: rgb(129 115 223);
}
h2{
    font-family: monospace;
    font-weight: 100;
    margin-top: 3vw;
    color: white;
    font-size: 2vw;
    letter-spacing: 6px;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid rgb(129 115 223);
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

#title img{
    width: 4vw;
    position: absolute;
    bottom: 5vw;
    left: 48.5%;
    padding: 1%;
    background-color: white;

    filter: invert(0);
    transition: filter 0.1s ease-in-out;
}
#title img:hover{
    filter: invert(1);
    transition: filter 0.1s ease-in-out;
}
#page-initial-info{
    margin: 5% 10%;
    text-align: -webkit-center;
}

#page-initial-info .subtitle {
    font-size: 1.5vw;
    font-family: system-ui;
    font-weight: 100;
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    margin-bottom: 1vw;
}
#page-initial-info h3{
    font-size: 3vw;
    font-family: system-ui;
    font-weight: bolder;
    color: black;
    width: 67%;
    text-align: center;
}
#p-info-text{
    font-size: 1.5vw;
    font-family: system-ui;
    font-weight: 100;
    color: rgb(33, 33, 33);
    margin-top: 4vw;
    width: 40%;
}
#p-mas{
    font-size: 1.5vw;
    font-family: system-ui;
    color: rgb(33, 33, 33);
    margin-top: 4vw;
    margin-bottom: 4vw;
}
#page-initial-info a{
    text-decoration: none;
    font-size: 2vw;
    font-family: monospace;
    text-transform: uppercase;
    padding: 1.5vw;
    border: 2px solid black;
    color: black;
}
#page-initial-info a:hover{
    background-color: black;
    color: white;
}


#page-container-info{
    margin-top: 2vw;
}
#text-transition{
    background-color: rgb(129 115 223);
    padding: 2vw;
    width: 100%;
    margin-top: 4vw;
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 2vw;
}

.container-flex{
    display: flex;
}
.container-flex img{
    width: 50%;
}
.flex-info{
    width: 50%;
    margin: 3vw;
    display: flex;
}
.flex-info h4{
    font-size: 3vw;
    font-family: system-ui;
    font-weight: 600;
    color: #252525;
    width: 50%;
    margin-right: 5vw;
}
.flex-info div{
    width: 40%;
}
#line {
    width: 3vw;
    height: 0.5vw;
    margin: 1vw 0;
    background-color: rgb(129 115 223);
}
.flex-info h5{
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #252525;
    margin-bottom: 1vw;
}

.flex-info p{
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #252525;
    font-weight: 100;
}

#estadist{
    background-color: #141414;
    display: flex;
    padding: 8vw 10vw;
}
.estadist-class{
    width: 33.33vw;
    text-align-last: center;
}
.estadist-class img{
    width: 5vw;
    opacity: 0.6;
    filter: invert(1);
}
.estadist-class h6{
    font-size: 2vw;
    text-align: center;
    color: #d9d9d9;
    font-family: system-ui;
    text-transform: uppercase;
    font-weight:200;
}
.estadist-class p{
    font-size: 6vw;
    text-align: center;
    color: white;
    margin: 1vw 0;
    font-family: fantasy;
}

#objetivo{
    margin: 5vw 10vw;
}
#objetivo h3{
    font-size: 3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 2vw;
}
#objetivo p{
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #252525;
    text-align: center;
    margin: 2vw 10vw;
}

#pasos{
    margin: 3vw 5vw;
    display: grid;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: .8vw;
    row-gap: 1.8rem;
}
.paso{
    width: 22vw;
    text-align: -webkit-center;
}
.paso-title{
    font-size: 3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(129 115 223);
}
.paso-desc{
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #252525;
    text-transform: uppercase;
}
.line-2{
    background-color: #7d7d7d;
    width: 3vw;
    height: 0.3vw;
    margin-top: 1vw;
    border-radius: 1vw;
}

#servicios{
    padding: 3vw 3vw;
    margin: 8vw 10vw;
    background-color: #353535;
    text-align: -webkit-center;
    border-radius: 25vw;
    box-shadow: 3px 11px 0px rgb(146 130 255);
}



#servicios h3{
    font-size: 4vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 2vw;
    color: rgb(216 210 255);
}
#servicios p{
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 1.5vw;
    width: 80%;
    color: rgb(216 210 255);
}

#contactame{
    text-align: center;
    margin: 5vw 0;
    text-align: -webkit-center;
}
#contactame h6{
    font-size: 1.5vw;
    color: gray;
    font-family: monospace;
    text-transform: uppercase;
    margin-bottom: 3vw;
}
#contactame a{
    font-family: system-ui;
    text-transform: uppercase;
    font-size: 2.5vw;
    color: rgb(129 115 223);
    padding: 1.2vw;
    text-decoration: none;
    border: 7px solid rgb(129 115 223);
    font-weight: bolder;
}
#contactame a:hover{
    background-color: rgb(129 115 223);
    color: white;
}
#line3{
    margin: 12vw 0 6vw 0;
    width: 70vw;
    height: 0.1vw;
    background-color: #c8c8c8;
}
.grupo-loca{
    margin-bottom: 3vw;
}
.grupo-loca img{
    width: 14vw;
}

.grupo-loca p{
    font-size: 1.5vw;
    color: #252525;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5vw;
    text-transform: uppercase;
}

@media all and (max-width:1050px){
    #title {
        height: 75vh;
    }
    #title img {
        display: none;
    }
    h1{
        font-size: 6vw;
    }
    #page-initial-info {
        margin: 8% 10%;
    }
    #page-initial-info .subtitle {
        font-size: 2vw;
        margin-bottom: 2vw;
    }
    #page-initial-info h3, #servicios h3 {
        font-size: 5vw;
    }
    #p-info-text {
        font-size: 2.5vw;
        width: 50%;
    }
    #p-mas {
        font-size: 2vw;
        margin-bottom: 6vw;
    }
    #page-initial-info a {
        font-size: 3vw;
        padding: 2vw;
    }
    #text-transition {
        padding: 3vw;
        font-size: 2vw;
    }
    .container-flex {
        flex-direction: column;
    }
    .container-flex img {
        width: 100%;
    }
    .flex-info {
        width: 100%;
        padding: 3vw;
        margin: 3vw 0;
    }
    .flex-info h4, #objetivo h3, h2, .paso-title {
        font-size: 4vw;
    }
    .flex-info h5 {
        font-size: 2.5vw;
    }
    .flex-info p {
        font-size: 2vw;
    }

    #objetivo h3 {
        margin-bottom: 4vw;
    }
    
    #objetivo p, .paso-desc, #servicios p, #contactame h6, .grupo-loca p {
        font-size: 2vw;
    }
    #pasos {
        margin: 8vw 5vw;
    }
    #contactame a {
        font-size: 3vw;
    }
    .grupo-loca img {
        width: 20vw;
    }

}

@media all and (max-width:750px){
    #title {
        height: 60vh;
    }
    h1 {
        font-size: 7vw;
    }
    #page-initial-info .subtitle {
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    #page-initial-info h3, #servicios h3 {
        font-size: 6vw;
    }
    #p-info-text {
        font-size: 3.5vw;
        width: 90%;
        margin-top: 6vw;
    }
    #p-mas {
        font-size: 3vw;
        margin-bottom: 8vw;
    }
    #page-initial-info a {
        font-size: 4vw;
        padding: 2.5vw;
    }
    #text-transition {
        padding: 4vw;
        font-size: 3vw;
    }
    .flex-info h4, #objetivo h3, .paso-title {
        font-size: 5vw;
    }
    .flex-info h5 {
        font-size: 3.5vw;
        margin-bottom: 2vw;
    }
    .flex-info p {
        font-size: 3vw;
    }
    #estadist {
        flex-direction: column;
        align-items: center;
    }
    .estadist-class {
        width: 90vw;
        margin: 5vw 0;
    }
    .estadist-class img {
        width: 7vw;
    }
    .estadist-class p {
        font-size: 10vw;
    }
    .estadist-class h6 {
        font-size: 3vw;
    }
    #objetivo p, .paso-desc, #servicios p, #contactame h6, .grupo-loca p {
        font-size: 2.5vw;
    }
    #servicios {
        padding: 5vw;
        margin: 8vw 0;
        border-radius: 0vw;
        box-shadow: 0 11px 0px rgb(146 130 255);
    }
    #contactame h6 {
        margin-bottom: 5vw;
    }
    .paso {
        width: 45vw;
    }
    #pasos {
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
        row-gap: 3.8rem;
        margin: 10vw 5vw;
    }
    #contactame a {
        font-size: 3.5vw;
        padding: 2vw;
    }
    #line3 {
        height: 0.4vw;
    }
}

@media all and (max-width:550px){
    #title {
        height: 50vh;
    }
    h1 {
        font-size: 8vw;
    }
    h2 {
        margin-top: 6vw;
        width: fit-content;
        white-space: normal;
        animation: typing2 4s steps(30) 1s 1 normal both, blink 1s steps(1) infinite;
    }
    #page-initial-info {
        margin: 20% 10%;
    }
    .flex-info h4, h2 {
        font-size: 5vw;
    }
    #page-initial-info .subtitle {
        font-size: 4vw;
        margin-bottom: 7vw;
    }
    #page-initial-info h3, #servicios h3 {
        font-size: 7vw;
    }
    #p-info-text {
        font-size: 4.5vw;
        width: 90%;
        margin-top: 14vw;
    }
    #p-mas {
        font-size: 4vw;
        margin-bottom: 10vw;
        margin-top: 16vw;
    }
    #page-initial-info a {
        font-size: 5vw;
        padding: 3vw;
    }
    #text-transition {
        font-size: 4vw;
    }
    .flex-info {
        flex-direction: column;
        margin: 10vw 0;
    }
    .flex-info h4{
        width: 100%;
    }
    .flex-info h5 {
        font-size: 6.5vw;
        margin-bottom: 6vw;
    }
    .flex-info div {
        width: 100%;
        margin: 5vw 0;
    }
    #line {
        width: 10vw;
        height: 1vw;
        margin: 0 0 4vw;
    }
    .flex-info p {
        font-size: 5vw;
    }
    .estadist-class img {
        width: 9vw;
    }
    .estadist-class p {
        font-size: 12vw;
    }
    .estadist-class h6 {
        font-size: 4vw;
    }
    #objetivo {
        margin: 15vw 10vw;
    }
    #objetivo h3 {
        font-size: 9vw;
    }
    #objetivo p{
        margin: 6vw 0vw;
        font-size: 4.5vw;
    }
    .paso-title {
        font-size: 9vw;
    }    
    .paso-desc, #servicios p, #contactame h6, .grupo-loca p {
        font-size: 4.5vw;
    }
    .line-2 {
        width: 5vw;
        height: 0.6vw;
    }
    #servicios h3 {
        margin-bottom: 5vw;
    }
    #servicios p {
        width: 90%;
        margin-bottom: 3vw;
    }
    #servicios {
        margin: 15vw 0;
        padding: 12vw 5vw;
    }
    #contactame h6 {
        margin-bottom: 9vw;
    }
    #contactame a {
        font-size: 4.5vw;
        padding: 2.5vw;
    }
    #line3 {
        height: 0.6vw;
    }
    .grupo-loca {
        margin-bottom: 10vw;
    }
    .grupo-loca img {
        width: 25vw;
    }

}






@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 39ch;
    }
}

@keyframes typing2 {
    from {
        width: 0ch;
    }
    to {
        width: 20ch;
    }
}